<?xml version="1.0" ?>
<launch>
    <param name="robot_description"
           command="$(find xacro)/xacro '$(find manipulator_h_description)/urdf/manipulator_h.xacro'" />

    <!-- send joint values -->
    <node pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" name="joint_state_publisher"/>

    <!-- Combine joint values -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"/>
    <node name="fkine_kdl_node" pkg="lab04example03" type="lab04example03_node" output="screen"/>
    <!-- Show in Rviz -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find manipulator_h_description)/launch/manipulator_h.rviz"/>
</launch>
